.header{
    background-color: aqua;
   /* color: blueviolet; */
    border-radius: 10px;
   /* margin: 1em 1em; */
    padding: 1.5em;
   text-align: center;
   text-decoration: underline;
  /* font-family: ui-sans-serif; */
    font-size: 1.3em;
     font-weight: bold;
     transition: 2.5s;
}

.header:hover{

    box-shadow: 0px 3px 25px rgb(250, 153, 170) inset,0px 3px 25px rgb(255, 158, 174) inset,0px 3px 25px pink inset,
    0px 3px 25px rgb(248, 154, 170) inset

}
